@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfaf8;
  --foreground: #701437;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #732a46;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lorenzo), sans-serif;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 1rem;
}

.main-container {
  --max-width: 1200px;
  --container-padding: 1.5rem;
  width: min(var(--max-width), 100% - (var(--container-padding)) * 2);
  margin-inline: auto;
}

.main-container--wide {
  --max-width: 1400px;
}

.user-container {
  --max-width: 1980px;
  width: min(var(--max-width), 100%);
  margin-inline: auto;
}

.even-columns {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.btn {
  color: white;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: calc(infinity * 1px);
  background-color: #701437;
}

.validation-message {
  margin-bottom: 1rem;
}

.modal-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag {
  display: inline-block;
  font-size: 0.8125rem;
  line-height: 1.8;
  letter-spacing: 0;
  background-color: hsl(-1 0% 97% / 1);
  border-radius: 4px;
  padding: 0.25rem 0.625rem;
}

.tag--small {
  font-size: 0.75rem;
  padding: 0.125rem 0.5rem;
}

.search-icon {
  background-image: url('data:image/svg+xml;utf-8, <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>');
  background-repeat: no-repeat;
}

.arrow-icon {
  background-image: url('data:image/svg+xml;utf-8, <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12H20M20 12L14 6M20 12L14 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
}

.sort-icon-asc {
  background-image: url('data:image/svg+xml;utf-8, <svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" id="Flat" viewBox="0 0 256 256"><path d="M232.4834,176.4867l-39.999,39.99316c-.03613.03613-.07617.06641-.1123.102-.24609.23975-.499.47217-.76465.69043-.14453.11914-.29736.22266-.44629.3335-.165.123-.32617.251-.49756.36572-.17236.11572-.35107.21533-.52783.3208-.15967.09521-.31543.19531-.47949.2832-.17871.09571-.3623.17676-.54492.2627-.17285.08154-.34278.168-.52.24121-.17578.07275-.356.13183-.53467.1958-.19043.06836-.37891.1416-.57422.20068-.17822.0542-.35888.09326-.53906.13867-.19922.0503-.39649.10645-.59961.14649-.20752.041-.417.06543-.626.0957-.17822.02539-.35351.05908-.53418.07715-.39355.03858-.78857.05957-1.18359.05957s-.79-.021-1.18359-.05957c-.1792-.01758-.353-.05127-.52979-.07666-.21094-.03027-.42187-.05469-.63135-.09619-.20117-.04-.39648-.0957-.59423-.14551-.18213-.04541-.36475-.08545-.54444-.13965-.19385-.05859-.38086-.13134-.57031-.1997-.17969-.06446-.36084-.12354-.53858-.19678-.17675-.07373-.34619-.15967-.519-.24121-.18213-.08594-.36621-.167-.54492-.2627-.165-.08789-.32129-.18847-.48145-.28418-.17626-.10547-.35449-.20459-.52587-.31933-.17432-.1167-.33789-.24659-.50538-.37159-.146-.10937-.29589-.21093-.438-.32763-.28516-.23389-.55762-.48242-.81983-.74121-.019-.01856-.04-.03418-.05859-.05274l-40-40a12.0001,12.0001,0,0,1,16.9707-16.9707L172,179.02332V111.99353a12,12,0,0,1,24,0v67.03223L215.51465,159.514A12.0001,12.0001,0,0,1,232.4834,176.4867ZM119.999,115.99353H48a12,12,0,0,0,0,24h71.999a12,12,0,0,0,0-24Zm-71.999-40H183.999a12,12,0,0,0,0-24H48a12,12,0,0,0,0,24Zm56,104H48a12,12,0,0,0,0,24h56a12,12,0,0,0,0-24Z"/></svg>');
  background-repeat: no-repeat;
}

.sort-icon-desc {
  background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" id="Flat" viewBox="0 0 256 256"><path d="M232.48486,96.47107a11.99915,11.99915,0,0,1-16.97021.002L196,76.9613v67.03223a12,12,0,0,1-24,0V76.964L152.48535,96.47888a12.0001,12.0001,0,0,1-16.9707-16.9707l40-40c.019-.019.04-.03467.05908-.05347.26221-.25854.53418-.50634.81885-.74.14306-.11767.29443-.22021.4414-.33008.16651-.12451.32911-.25341.50245-.36914.17187-.11523.35058-.21533.52734-.32055.15967-.09546.31543-.19556.47949-.28345.1792-.0957.36328-.17676.54541-.26294.17285-.0813.34229-.16748.51953-.241.17676-.07324.35742-.13208.53711-.19653.18994-.06811.377-.14087.57129-.2.17969-.0542.36182-.09375.543-.13965.19824-.0498.39355-.10547.5957-.14526.209-.04151.42041-.06616.63086-.09644.17676-.02539.35059-.05884.53028-.07641.39355-.03882.78808-.05982,1.18359-.05982h0l.00928.00049c.39209.00024.78418.02075,1.1748.05933.17578.01733.34571.05.519.075.21436.03051.4292.05566.64209.0979.19678.03906.3877.09326.58106.14184.18652.04663.37451.08789.55908.14356.188.05713.36963.12793.55371.19385.18555.06616.37207.12744.55518.20312.17041.0708.334.15381.50049.23218.189.08862.37939.17285.56445.27173.15625.084.30469.17968.457.27.18408.10962.37012.21411.54981.33422.16455.11011.31884.23316.47753.35083.15528.11548.314.22388.46485.34766.26416.217.51562.44873.76025.687.0376.03662.07862.06763.11572.105l39.999,39.99317A11.99974,11.99974,0,0,1,232.48486,96.47107ZM48,139.99353h71.999a12,12,0,0,0,0-24H48a12,12,0,0,0,0,24Zm0-64h55.999a12,12,0,0,0,0-24H48a12,12,0,0,0,0,24Zm135.999,104H48a12,12,0,0,0,0,24H183.999a12,12,0,0,0,0-24Z"/></svg>');
  background-repeat: no-repeat;
}

@media (width >= 64rem) {
  .dashboard-icon-desktop {
    background-image: url('data:image/svg+xml;utf-8, <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="LightGoldenRodYellow"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-layout-dashboard"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" /><path d="M5 16h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" /><path d="M15 12h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" /><path d="M15 4h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" /></svg>');
    background-repeat: no-repeat;
  }

  .dashboard-icon-desktop:hover {
    background-image: url('data:image/svg+xml;utf-8, <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="Gold"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-layout-dashboard"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" /><path d="M5 16h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" /><path d="M15 12h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" /><path d="M15 4h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" /></svg>');
    background-repeat: no-repeat;
  }

  .courses-icon-desktop {
    background-image: url('data:image/svg+xml;utf-8, <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="LightGoldenRodYellow"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-school"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>');
    background-repeat: no-repeat;
  }

  .courses-icon-desktop:hover {
    background-image: url('data:image/svg+xml;utf-8, <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="Gold"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-school"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" /><path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" /></svg>');
    background-repeat: no-repeat;
  }

  .settings-icon-desktop {
    background-image: url('data:image/svg+xml;utf-8, <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="LightGoldenRodYellow"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-settings"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>');
    background-repeat: no-repeat;
  }

  .settings-icon-desktop:hover {
    background-image: url('data:image/svg+xml;utf-8, <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="Gold"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-settings"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /></svg>');
    background-repeat: no-repeat;
  }
}

.header__inner > .logo {
  display: none;
}

@media only screen and (max-width: 55em) {
  .header__inner > .logo {
    display: block;
  }
}

.header__nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 55em) {
  .header__nav {
    display: none;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background-color: white;
    row-gap: 5.5rem;
    padding: 3.5rem 1.5rem;
    z-index: 1;
  }
  .header__nav--active {
    display: flex;
    overscroll-behavior: none;
  }
}

@media only screen and (max-width: 55em) {
  .header__nav > .logo {
    display: none;
  }
}

.header__list {
  display: flex;
  align-items: center;
  column-gap: 0;
  margin-inline: auto;
}

@media only screen and (min-width: 55em) {
  .header__list {
    column-gap: 0.75rem;
  }
}

@media only screen and (max-width: 55em) {
  .header__list {
    flex-direction: column;
  }
}

.header__nav-link {
  line-height: 1.7;
  font-size: 0.9375rem;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  transition: background-color 0.2s linear;
}

.footer__nav-item-link {
  line-height: 1.7;
  font-size: 0.9375rem;
}

.header__nav-link:hover {
  background-color: gainsboro;
}

@media only screen and (min-width: 60em) {
  .header__nav-link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 55em) {
  .header__nav-link {
    font-size: 1.5rem;
  }
}

.header__mobile-menu {
  display: none;
  z-index: 1;
}

@media only screen and (max-width: 55em) {
  .header__mobile-menu {
    display: block;
  }
}

.course-search__input {
  background-position: 1rem;
}

.course-tag-list__tag-menu {
  display: none;
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 1;
}

.course-tag-list__tag-menu--active {
  display: block;
  place-items: center;
  padding: 4rem 3rem;
  overscroll-behavior: none;
  overflow: auto;
}

.lesson-navigation__menu {
  display: none;
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 1;
}

.lesson-navigation__menu--active {
  display: block;
  place-items: center;
  padding: 4rem 3rem;
  overscroll-behavior: none;
  overflow: auto;
}

@media only screen and (min-width: 64em) {
  .course-tag-list__tag-menu {
    display: block;
    position: static;
    background-color: inherit;
    inset: auto;
  }
}

@media only screen and (min-width: 64em) {
  .lesson-navigation__menu {
    display: flex;
    position: static;
    background-color: inherit;
    inset: auto;
  }
}

.price-with-discount {
  color: black;
  position: relative;
  display: inline-flex;
  margin-right: 1rem;
}

.price-with-discount::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transform: rotate(15deg);
  transform-origin: center;
}

.free-price {
  color: rgb(249 115 22 / var(--tw-text-opacity, 1));
}

@media only screen and (min-width: 27.5em) {
  .user-course-card-small__info {
    display: flex;
    justify-content: space-between;
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
